// @import '~assets/css/variables.less';

$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$colorbg: #24b2ca; // 海克斯康浅颜色
$colorbg2: #2395af; // 海克斯康深颜色
$colorbg3: #367fa9; // 海克斯康很深颜色
$colorbg4: rgba(28,35,39,0.5); // 下拉菜单
$colorLazy: #e0e0e0; // 懒加载颜色
$colorBorder: #ccc; // 边框颜色
$colorF: #757575; // 浅颜色
$colorI: #999; // icon浅颜色
$colorA: #202020; // a链接颜色
$colorH: #000; // 鼠标滑过颜色
$bg: #fafafa; // body灰颜色背景
$widthxs: 480px;
$widthsm: 768px;
$widthmd: 1025px;
$widthlg: 1200px;